$panel-inner-border:#FF0000;
$panel-primary-text:#000000;
$navbar-inverse-bg:#000000;
$grid-columns: 12;

@import "bootstrap";

body {
  background-color: #F0F0F0;
}

.episode-block {
  background-color: #FFFFFF;
}

.up-line {
  padding-top: 20px;
}

.down-line {
  padding-bottom: 20px;
}

.member-distance {
  padding-top: 20px;
}

.comment-in-episode {
  padding-top: 10px;  
}

.container-to-top {
  padding-top: 90px;
}

.fixed-row-height {
  height: 40px;
}

.estimate-num {
  padding-left: 10px;
}

.collect-move-down {
  padding-top: 15px;
}

.episode-upload-box {
  width:600px;
  height:300px;
  margin-bottom: 7px;
}

.comment-upload-box {
  width:600px;
  height:300px;
  margin-bottom: 20px;
}

.word-num-control-box {
  width: 50px;
  height: 30px;
  text-align: center;
}

.choose-button-position {
  padding-left: 30px;
}

.label-name-position {
  padding-left: 30px;
}

.upload-button-position {
  padding-bottom: 50px;
}

.spacing-between-episode-comment {
  margin-top:20px;
}

.remove-li-dot {
  list-style: none;
}

.comment-label-size {
  font-size:130%;
}

.comment-box-left-spacing {
  padding-left:0px;
}

.widget-top-spacing {
  padding-top:270px;
}

.profile-setting-display {
  padding-right:30px;
}

.profile-subscribe-display {
  padding-right:30px;
  margin-top:15px;
}

.profile-name-display {
  padding-left:50px;
  margin-top:15px;
  font-size:150%;
  font-weight:bold;
}

.profile-modify-display {
  padding-left:35px;
  margin-top:15px;
}

.main-page-title {
  text-align:center;
  padding-bottom:15px;
  padding-top:15px;
  font-weight:bold;
  font-size:40px;
  font-style:normal;
  font-family:"Times New Roman", Georgia, Serif;
}

.container-control {
    height: auto;
    width: 700px;
    float: left;
}

.user-name {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #FF9966;
    padding: 20px 30px;
}

.episode-script-content {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	padding: 0px 30px;
}

.clear {
	clear: both;
	font-size:1px;
	width:1px;
	visibility: hidden;
}

.episode-image-content {
    padding: 0px 30px;
}

.episode-post-time {
	text-align: right;
	padding-right: 30px; 
}

.gravatar {
  float: left;
  margin-right: 10px;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

//isotope
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

/*
.isotope {
  border: 1px solid #333;
  max-width: 1200px;
}
*/

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }

/* clear fix */
#episode-container {
  padding: 5px;
  width: 1280px;
}

.episode-item {
  width: 400px;
  background-color: #26D;
  float: left;
  margin: 5px;
  box-shadow: 2px 2px 5px #888888;
}