<footer style="bottom:0;position:absolute;">
  <nav class="round">
    <ul class="pull-right" style="padding-right:30px">
      <li><%= link_to "About", about_path %></li>
    </ul>
    <ul class="pull-right">
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
    <ul class="pull-right">
      <p>By Shuo, Wang, Tao</p>
    </ul>
  </nav>
</footer>